.main_section_mobile_application {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f4f0;
  margin-top: 3rem;
}
.child_main-Mobile-application {
  height: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.child_main-web-application {
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
.child_div-mobile_application_1 {
  width: 25%;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.child_div-mobile_application_2 {
  width: 72%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  /* ------------------------------------------------------------- */
}
.feature_1_boxs_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
}

.feature_2_boxs_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
}
.image_1_feature {
  width: 249.62px;
  height: 529.64px;
}
.image_2_feature {
    width: 549.62px;
    height: 550.64px;
  }

@media (max-width: 950px) {
  .image_1_feature {
    width: 180.62px;
    height: 400.64px;
  }
  .image_2_feature {
    width: 280.62px;
    height: 400.64px;
  }
}

/* responsive for mobile */
@media (max-width: 830px) {
  .child_div-mobile_application_2 {
    width: 100%;
    flex-direction: column;
  }

  .child_main-Mobile-application {
    flex-direction: column;
  }
  .child_main-web-application {
    flex-direction: column;
  }
  .feature_1_boxs_section {
    width: 100%;
    margin-top: 3rem;
  }
  .feature_2_boxs_section {
    width: 100%;
  }
  .image_1_feature {
    width: 249.62px;
    height: 529.64px;
  }
  .image_2_feature {
    width: 500.62px;
    height: 450.64px;
  
  }
}
