
.products_section_row {
    height: 80px;
    width: 300px;
    background-color: transparent; 
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  .products_section_row:hover .section_2_product h5{
color: #f3c11b;
  }
  
  .products_section_row:hover {
    background-color: lightgray; 
  }
  .products_section_row img {
    height: 90%;
    width: 80%;
    object-fit: contain; 
 
}
.section_1_product {
    height: 60px;
    width:60px;
    border-radius: 50px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.section_2_product{
    height: 70px;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.section_2_product h5{
    color: white;
    margin: 0;
    font-size: 16px;
font-weight: 600;
font-family: sans-serif;



}
.section_2_product p{
    color: white;
    font-size: 12px;
    margin-top: 3px;
    font-family: sans-serif;
 
}
.div_1 {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: rgb(97, 16, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.div_2 {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #f3c11b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.div_3 {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}