.featureBox_main_section{
    width: 90%;
height: 160px;
border-radius: 26px;
background-color: #EEECE8;
display: flex;
justify-content: center;
flex-direction: column;
padding: 0px 10px 0px 10px;
margin-left: 10px;
margin-bottom: 20px;

}
.heading_one{
    font-family: sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.3857868015766144px;
text-align: left;
color: var(--Primary-100, #2E337B);
margin-left: 2rem;

}
.heading_pink{
    font-family: sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.3857868015766144px;
text-align: left;
color: var(--Secondary-100, #AC2785);
margin-left: 2rem;

}
.text_one{
    font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.3857868015766144px;
text-align: left;
color: #5F5F5F;
margin-left: 2rem;

}
.text_two{
    font-family: sans-serif;
font-size: 14px;
font-weight: 400;
/* line-height: 30px; */
letter-spacing: -0.3857868015766144px;
text-align: left;
color: #5F5F5F;
margin-left: 2rem;

}